{  "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@app": "./src",
                    "@store": "./src/store",
                    "@components": "./src/components",
                    "@configs": "./src/configs",
                    "@constants": "./src/constants",
                    "@helpers": "./src/helpers",
                    "@hooks": "./src/hooks",
                    "@screens": "./src/screens"
                }
            }
        ]
    ]
}