@font-face {
  font-family: "Noto Sans";
  src: url("../assets/font/noto-sans.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: unset;
}

.swiper {
  position: unset !important;
}

.swiper-slide {
  height: auto !important;
}

.interested-carousel .swiper-slide {
  width: 460px !important;
}

.whats-hot .swiper-slide {
  width: 322px !important;
}

.product-carousel .swiper-slide {
  width: 50px !important;
  height: 50px !important;
}

.new-arrivals .swiper-slide,
.best-adidas .swiper-slide {
  width: 16.25% !important;
}

.new-arrivals .swiper-pagination-horizontal,
.best-adidas .swiper-pagination-horizontal,
.recently-viewed .swiper-pagination-horizontal {
  bottom: -20px !important;
}

.new-arrivals .swiper-pagination-bullet,
.best-adidas .swiper-pagination-bullet ,
.recently-viewed .swiper-pagination-bullet {
  width: 18px;
  height: 1px;
  border-radius: unset;
  background-color: black;
  opacity: unset;
  transition: all 0.1s ease-out;
}

.new-arrivals .swiper-pagination-bullet-active,
.best-adidas .swiper-pagination-bullet-active,
.recently-viewed .swiper-pagination-bullet-active {
  height: 4px;
}

.new-arrivals .swiper-pagination-bullet:hover,
.best-adidas .swiper-pagination-bullet:hover,
.recently-viewed .swiper-pagination-bullet:hover {
  height: 4px;
  background-color: black !important;
}

input {
  border: 1px solid black ;
}

.newsletter-dialog .MuiDialog-paperWidthSm {
  max-width: 50% !important;
}

.newsletter-dialog .MuiDialog-container {
  position: relative;
}

@media (max-width: 960px) {
  .whats-hot .swiper-slide {
    width: 322px !important;
  }
}

@media (max-width: 600px) {
  .whats-hot .swiper-slide {
    width: 364px !important;
  }
}
