.whats-hot .swiper-button-next,
.whats-hot .swiper-button-prev {
    position: absolute;
    top: 50%;
    background-color: white;
    height: 50px;
    width: 55px;
    border: 1px solid black;
}

.whats-hot .swiper-button-next {
    right: 0;

}

.whats-hot .swiper-button-prev {
    left: 0;
}

.whats-hot .swiper-button-prev::after,
  .whats-hot .swiper-button-next::after {
    color: black !important;
    font-size: 24px !important;
  }

.whats-hot .swiper-button-disabled {
    visibility: hidden !important;
}
